.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}


.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  color: #848482;
  
}
.jumbotron h1 {
  font-family: 'Monofett', cursive;
}

.img-shadow{
  box-shadow: 0px 0px 1px 1px !important;
}

.aboutme {
  color: #848482;
  font-family: 'Modak', cursive;
}

.navbar-light .navbar-brand {
  color: #696969;
  font-family: 'Raleway', sans-serif;
  font-size: 20;
}

.navbar-light .navbar-nav .nav-link {
  color: #696969;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

